.footer
  %p Sakamoto Makishi
  .footer_contents
    .footer_icon
      %ul.contents_list
        %li.mark
          %a.fab.fa-twitter{href: "/"}
        %li.mark
          %a.fab.fa-facebook-f{href: "/"}
        %li.mark
          %a.far.fa-envelope{href: "/"}
        %li.mark
          %a.fab.fa-line{href: "/"}