.top_contents{style:"background-image:url(https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_1280.jpg)"}
  .top_title
    %p{"aria-label" => "CodePen"}
      %span{"data-text" => "B"} B
      %span{"data-text" => "o"} o
      %span{"data-text" => "o"} o
      %span{"data-text" => "k"} k
      %span{"data-text" => "s"} s
      %span{"data-text" => "h"} h
      %span{"data-text" => "e"} e
      %span{"data-text" => "l"} l
      %span{"data-text" => "f"} f